<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitlworks.intlib_music_base">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name=".MusicClient"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".source.ready.AuthCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".source.ready.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".source.PagerMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".source.setting.KaKaoTalkActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".source.setting.NewInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".source.setting.MsgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

    </application>

</manifest>