<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitlworks.intlib_bitlworks">

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <activity
            android:name="com.bitlworks.intlib_bitlworks.setting.CSActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.bitlworks.intlib_bitlworks.auth.TermActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
</manifest>
